<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seaPack.mapper.system.DictMapper">

    <resultMap id="BaseResultMap" type="org.seaPack.model.system.Dict">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="dict_type" jdbcType="VARCHAR" property="dictType" />
        <result column="dict_code" jdbcType="VARCHAR" property="dictCode" />
        <result column="dict_name" jdbcType="VARCHAR" property="dictName" />
        <result column="order_num" jdbcType="INTEGER" property="orderNum" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    </resultMap>

    <select id="selectList" resultMap="BaseResultMap">
        select id, dict_type, dict_code, dict_name, order_num, status, remark, gmt_create, gmt_modified
        from sys_dict
        <where>
            status = '1'
            <if test="dictType != null and dictType != ''">
                AND dict_type = #{dictType}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (dict_code LIKE CONCAT('%', #{keyword}, '%')
                OR dict_name LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
        order by dict_type ASC, order_num ASC, id ASC
    </select>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select id, dict_type, dict_code, dict_name, order_num, status, remark, gmt_create, gmt_modified
        from sys_dict
        where id = #{id} and status = '1'
    </select>

    <select id="selectByTypeAndCode" resultMap="BaseResultMap">
        select id, dict_type, dict_code, dict_name, order_num, status, remark, gmt_create, gmt_modified
        from sys_dict
        where dict_type = #{dictType} and dict_code = #{dictCode} and status = '1'
        limit 1
    </select>

    <insert id="insert" parameterType="org.seaPack.model.system.Dict" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into sys_dict
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dictType != null">dict_type,</if>
            <if test="dictCode != null">dict_code,</if>
            <if test="dictName != null">dict_name,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            gmt_create,
            gmt_modified
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dictType != null">#{dictType},</if>
            <if test="dictCode != null">#{dictCode},</if>
            <if test="dictName != null">#{dictName},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            NOW(),
            NOW()
        </trim>
    </insert>

    <update id="update" parameterType="org.seaPack.model.system.Dict">
        update sys_dict
        <set>
            <if test="dictType != null">dict_type = #{dictType},</if>
            <if test="dictCode != null">dict_code = #{dictCode},</if>
            <if test="dictName != null">dict_name = #{dictName},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            gmt_modified = NOW()
        </set>
        where id = #{id}
    </update>

    <update id="deleteById" parameterType="java.lang.Long">
        update sys_dict set status = '0', gmt_modified = NOW() where id = #{id}
    </update>

</mapper>
