<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seaPack.mapper.DividendRuleMapper">

    <resultMap id="BaseResultMap" type="org.seaPack.model.DividendRule">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="stock_id" jdbcType="BIGINT" property="stockId" />
        <result column="trigger_rate" jdbcType="DECIMAL" property="triggerRate" />
        <result column="email_notify" jdbcType="VARCHAR" property="emailNotify" />
        <result column="phone_notify" jdbcType="VARCHAR" property="phoneNotify" />
        <result column="is_active" jdbcType="TINYINT" property="isActive" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <select id="selectRulesByStockId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from dividend_rule
        where stock_id = #{stockId}
        order by create_time DESC
    </select>

    <select id="selectActiveRules" resultMap="BaseResultMap">
        select * from dividend_rule where is_active = 1
    </select>

    <insert id="insertRule" parameterType="org.seaPack.model.DividendRule" useGeneratedKeys="true" keyProperty="id">
        insert into dividend_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stockId != null">stock_id,</if>
            <if test="triggerRate != null">trigger_rate,</if>
            <if test="emailNotify != null">email_notify,</if>
            <if test="phoneNotify != null">phone_notify,</if>
            is_active,
            create_time,
            update_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stockId != null">#{stockId},</if>
            <if test="triggerRate != null">#{triggerRate},</if>
            <if test="emailNotify != null">#{emailNotify},</if>
            <if test="phoneNotify != null">#{phoneNotify},</if>
            1,
            NOW(),
            NOW()
        </trim>
    </insert>

    <update id="updateRule" parameterType="org.seaPack.model.DividendRule">
        update dividend_rule
        <set>
            <if test="triggerRate != null">trigger_rate = #{triggerRate},</if>
            <if test="emailNotify != null">email_notify = #{emailNotify},</if>
            <if test="phoneNotify != null">phone_notify = #{phoneNotify},</if>
            <if test="isActive != null">is_active = #{isActive},</if>
            update_time = NOW()
        </set>
        where id = #{id}
    </update>

    <delete id="deleteRule" parameterType="java.lang.Long">
        delete from dividend_rule where id = #{id}
    </delete>

</mapper>
