<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seaPack.mapper.HoldingMapper">
  <resultMap id="BaseResultMap" type="org.seaPack.model.Holding">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="fund_code" jdbcType="VARCHAR" property="fundCode" />
    <result column="fund_name" jdbcType="VARCHAR" property="fundName" />
    <result column="total_shares" jdbcType="DECIMAL" property="totalShares" />
    <result column="available_shares" jdbcType="DECIMAL" property="availableShares" />
    <result column="frozen_shares" jdbcType="DECIMAL" property="frozenShares" />
    <result column="avg_cost_price" jdbcType="DECIMAL" property="avgCostPrice" />
    <result column="total_cost" jdbcType="DECIMAL" property="totalCost" />
    <result column="cost_principal" jdbcType="DECIMAL" property="costPrincipal" />
    <result column="last_updated" jdbcType="TIMESTAMP" property="lastUpdated" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, fund_code, total_shares, available_shares, frozen_shares, avg_cost_price, 
    total_cost, cost_principal, last_updated
  </sql>

  <!--查询持仓列表-->
  <select id="selectHoldingList" resultMap="BaseResultMap">
    select
        s.id,
        s.user_id,
        u.user_name as user_name,
        s.fund_code,
        f.fund_name as fund_name,
        s.total_shares,
        s.available_shares,
        s.frozen_shares,
        s.avg_cost_price,
        s.total_cost,
        s.cost_principal,
        s.last_updated
    from holdings s
    inner join fund_base_info f on f.fund_code = s.fund_code
    inner join user u on u.id = s.user_id
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from holdings
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete
    from holdings
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.seaPack.model.Holding">
    delete from holdings
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.seaPack.model.Holding">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into holdings (user_id, fund_code, total_shares, 
      available_shares, frozen_shares, avg_cost_price, 
      total_cost, cost_principal, last_updated
      )
    values (#{userId,jdbcType=INTEGER}, #{fundCode,jdbcType=VARCHAR}, #{totalShares,jdbcType=DECIMAL}, 
      #{availableShares,jdbcType=DECIMAL}, #{frozenShares,jdbcType=DECIMAL}, #{avgCostPrice,jdbcType=DECIMAL}, 
      #{totalCost,jdbcType=DECIMAL}, #{costPrincipal,jdbcType=DECIMAL}, #{lastUpdated,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.seaPack.model.Holding">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into holdings
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="fundCode != null">
        fund_code,
      </if>
      <if test="totalShares != null">
        total_shares,
      </if>
      <if test="availableShares != null">
        available_shares,
      </if>
      <if test="frozenShares != null">
        frozen_shares,
      </if>
      <if test="avgCostPrice != null">
        avg_cost_price,
      </if>
      <if test="totalCost != null">
        total_cost,
      </if>
      <if test="costPrincipal != null">
        cost_principal,
      </if>
      <if test="lastUpdated != null">
        last_updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="fundCode != null">
        #{fundCode,jdbcType=VARCHAR},
      </if>
      <if test="totalShares != null">
        #{totalShares,jdbcType=DECIMAL},
      </if>
      <if test="availableShares != null">
        #{availableShares,jdbcType=DECIMAL},
      </if>
      <if test="frozenShares != null">
        #{frozenShares,jdbcType=DECIMAL},
      </if>
      <if test="avgCostPrice != null">
        #{avgCostPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalCost != null">
        #{totalCost,jdbcType=DECIMAL},
      </if>
      <if test="costPrincipal != null">
        #{costPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdated != null">
        #{lastUpdated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.seaPack.model.Holding" resultType="java.lang.Long">
    select count(*) from holdings
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update holdings
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=INTEGER},
      </if>
      <if test="row.userId != null">
        user_id = #{row.userId,jdbcType=INTEGER},
      </if>
      <if test="row.fundCode != null">
        fund_code = #{row.fundCode,jdbcType=VARCHAR},
      </if>
      <if test="row.totalShares != null">
        total_shares = #{row.totalShares,jdbcType=DECIMAL},
      </if>
      <if test="row.availableShares != null">
        available_shares = #{row.availableShares,jdbcType=DECIMAL},
      </if>
      <if test="row.frozenShares != null">
        frozen_shares = #{row.frozenShares,jdbcType=DECIMAL},
      </if>
      <if test="row.avgCostPrice != null">
        avg_cost_price = #{row.avgCostPrice,jdbcType=DECIMAL},
      </if>
      <if test="row.totalCost != null">
        total_cost = #{row.totalCost,jdbcType=DECIMAL},
      </if>
      <if test="row.costPrincipal != null">
        cost_principal = #{row.costPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="row.lastUpdated != null">
        last_updated = #{row.lastUpdated,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update holdings
    set id = #{row.id,jdbcType=INTEGER},
      user_id = #{row.userId,jdbcType=INTEGER},
      fund_code = #{row.fundCode,jdbcType=VARCHAR},
      total_shares = #{row.totalShares,jdbcType=DECIMAL},
      available_shares = #{row.availableShares,jdbcType=DECIMAL},
      frozen_shares = #{row.frozenShares,jdbcType=DECIMAL},
      avg_cost_price = #{row.avgCostPrice,jdbcType=DECIMAL},
      total_cost = #{row.totalCost,jdbcType=DECIMAL},
      cost_principal = #{row.costPrincipal,jdbcType=DECIMAL},
      last_updated = #{row.lastUpdated,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.seaPack.model.Holding">
    update holdings
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="fundCode != null">
        fund_code = #{fundCode,jdbcType=VARCHAR},
      </if>
      <if test="totalShares != null">
        total_shares = #{totalShares,jdbcType=DECIMAL},
      </if>
      <if test="availableShares != null">
        available_shares = #{availableShares,jdbcType=DECIMAL},
      </if>
      <if test="frozenShares != null">
        frozen_shares = #{frozenShares,jdbcType=DECIMAL},
      </if>
      <if test="avgCostPrice != null">
        avg_cost_price = #{avgCostPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalCost != null">
        total_cost = #{totalCost,jdbcType=DECIMAL},
      </if>
      <if test="costPrincipal != null">
        cost_principal = #{costPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdated != null">
        last_updated = #{lastUpdated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.seaPack.model.Holding">
    update holdings
    set user_id = #{userId,jdbcType=INTEGER},
      fund_code = #{fundCode,jdbcType=VARCHAR},
      total_shares = #{totalShares,jdbcType=DECIMAL},
      available_shares = #{availableShares,jdbcType=DECIMAL},
      frozen_shares = #{frozenShares,jdbcType=DECIMAL},
      avg_cost_price = #{avgCostPrice,jdbcType=DECIMAL},
      total_cost = #{totalCost,jdbcType=DECIMAL},
      cost_principal = #{costPrincipal,jdbcType=DECIMAL},
      last_updated = #{lastUpdated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>